.speed-container {
  background-image: url("../../public/2151076472.jpg");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.speed-container-checker {
  border: dotted 1px #4d6f93;
  height: 50vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  color: #4d6f93;
}

.speed-container-checker button {
  margin-top: 10%;
  background-color: #d0dde4;
  padding: 1%;
  border-radius: 8px;
  border-color: transparent;
  color: #313d5b;
  filter: blur(1%);
}

.speed-container-checker h2 {
    background-color: #dce9eb;
    color: #313d5b;
}